<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.seraph.mvprxjavaretrofit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--检查相机硬件需要可以使用才能安装-->
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_action_name"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.module.main.MainActivity" />
        <!--图片预览 android:process=":picture" -->
        <activity android:name=".ui.module.common.photopreview.PhotoPreviewActivity" />
        <!--权限设置-->
        <activity android:name=".ui.module.common.permission.PermissionsActivity" />
        <!--通用获取本地图片-->
        <activity android:name=".ui.module.common.photolist.LocalImageListActivity" />
        <!--Design布局测试-->
        <activity android:name=".ui.module.test.DesignLayoutTestActivity" />
        <!--欢迎和引导页-->
        <activity
            android:name=".ui.module.welcome.WelcomeActivity"
            android:theme="@style/AppTheme.WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.module.welcome.GuidePagesActivity" />
        <!--登录-->
        <activity android:name=".ui.module.login.LoginActivity" />
        <!--注册-->
        <activity android:name=".ui.module.login.RegisteredActivity" />
        <!--注册协议-->
        <activity android:name=".ui.module.login.AgreementActivity" />
        <!--重置密码（找回/修改）-->
        <activity android:name=".ui.module.login.ResetPasswordActivity" />
        <activity android:name=".ui.module.main.MainActivity2" />
    </application>

</manifest>